<?xml version='1.0' encoding='UTF-8'?>
<mashup xmlns="http://wirecloud.conwet.fi.upm.es/ns/macdescription/1" vendor="CoNWeT" name="ckan-browsing" version="1.5">
  <details>
    <email>wirecloud@conwet.com</email>
    <title>CKAN Browsing</title>
    <image>images/catalogue.png</image>
    <description>Browse any CKAN portal using this dasboard</description>
    <longdescription>DESCRIPTION.md</longdescription>
    <authors>Álvaro Arranz García</authors>
  </details>
  <structure>
    <preferencevalue name="baselayout" value="{&quot;verticalmargin&quot;:3,&quot;smart&quot;:&quot;false&quot;,&quot;horizontalmargin&quot;:4,&quot;type&quot;:&quot;gridlayout&quot;,&quot;columns&quot;:20,&quot;cellheight&quot;:12,&quot;rows&quot;:12}"/>
    <tab id="0" name="Tab">
      <resource id="90" name="googlecharts" title="Google Charts" vendor="CoNWeT" version="1.0.2">
        <position x="13" y="0" z="3"/>
        <rendering height="6" width="7" layout="0"/>
      </resource>
      <resource id="91" name="data-viewer-table" title="Data Viewer Table" vendor="CoNWeT" version="2.0.0">
        <position x="0" y="6" z="0"/>
        <rendering height="6" width="13" layout="0"/>
      </resource>
      <resource id="92" name="ckan-resource-selector" title="CKAN Resource Selector" vendor="CoNWeT" version="1.0.6">
        <position x="0" y="0" z="1"/>
        <rendering height="6" width="7" layout="0"/>
        <preferencevalue name="limit_rows" value="100"/>
        <preferencevalue name="auth_token" value=""/>
        <preferencevalue name="ckan_server" value="https://data.lab.fiware.org"/>
      </resource>
      <resource id="93" name="ckan-graph-creator" title="CKAN Graph creator" vendor="CoNWeT" version="1.1.2">
        <position x="7" y="0" z="2"/>
        <rendering height="6" width="6" layout="0"/>
      </resource>
      <resource id="94" name="highcharts" title="Highcharts" vendor="CoNWeT" version="0.1.2">
        <position x="13" y="6" z="4"/>
        <rendering height="6" width="7" layout="0"/>
      </resource>
    </tab>
    <wiring version="2.0">
      <connection>
        <source endpoint="googlecharts-graph-config" id="93" type="widget"/>
        <target endpoint="input" id="90" type="widget"/>
      </connection>
      <connection>
        <source endpoint="resource" id="92" type="widget"/>
        <target endpoint="dataset" id="93" type="widget"/>
      </connection>
      <connection>
        <source endpoint="resource" id="92" type="widget"/>
        <target endpoint="dataset" id="91" type="widget"/>
      </connection>
      <connection>
        <source endpoint="highcharts-graph-config" id="93" type="widget"/>
        <target endpoint="highcharts" id="94" type="widget"/>
      </connection>
      <visualdescription>
        <component id="91" type="widget">
          <position x="519" y="90"/>
          <sources/>
          <targets/>
        </component>
        <component id="90" type="widget">
          <position x="928" y="212"/>
          <sources/>
          <targets/>
        </component>
        <component id="93" type="widget">
          <position x="520" y="238"/>
          <sources/>
          <targets/>
        </component>
        <component id="92" type="widget">
          <position x="123" y="175"/>
          <sources/>
          <targets/>
        </component>
        <component id="94" type="widget">
          <position x="929" y="294"/>
          <sources/>
          <targets/>
        </component>
        <connection sourcename="widget/93/googlecharts-graph-config" targetname="widget/90/input">
          <sourcehandle x="138" y="0"/>
          <targethandle x="-138" y="0"/>
        </connection>
        <connection sourcename="widget/92/resource" targetname="widget/93/dataset">
          <sourcehandle x="86" y="0"/>
          <targethandle x="-86" y="0"/>
        </connection>
        <connection sourcename="widget/92/resource" targetname="widget/91/dataset">
          <sourcehandle x="150" y="0"/>
          <targethandle x="-150" y="0"/>
        </connection>
        <connection sourcename="widget/93/highcharts-graph-config" targetname="widget/94/highcharts"/>
      </visualdescription>
    </wiring>
  </structure>
  <embedded>
    <resource name="data-viewer-table" src="macs/CoNWeT_data-viewer-table_2.0.0.wgt" vendor="CoNWeT" version="2.0.0"/>
    <resource name="map-viewer" src="macs/CoNWeT_map-viewer_2.5.7.wgt" vendor="CoNWeT" version="2.5.7"/>
    <resource name="ckan-graph-creator" src="macs/CoNWeT_ckan-graph-creator_1.1.2.wgt" vendor="CoNWeT" version="1.1.2"/>

    <resource name="ckan2poi" src="macs/CoNWeT_ckan2poi_1.0.1.wgt" vendor="CoNWeT" version="1.0.1"/>
    <resource name="googlecharts" src="macs/CoNWeT_googlecharts_1.0.2.wgt" vendor="CoNWeT" version="1.0.2"/>
    <resource name="flotr2-graph" src="macs/CoNWeT_flotr2-graph-widget_1.0.0.wgt" vendor="CoNWeT" version="1.0.0"/>
    <resource name="highcharts" src="macs/CoNWeT_highcharts_0.1.2.wgt" vendor="CoNWeT" version="0.1.2"/>
    <resource name="ckan-resource-selector" src="macs/CoNWeT_ckan-resource-selector_1.0.6.wgt" vendor="CoNWeT" version="1.0.6"/>

    <!-- Need to create workspaces -->
    <resource name="ckan-graph-creator-operator" src="macs/CoNWeT_ckan-graph-creator-operator_1.1.2.wgt" vendor="CoNWeT" version="1.1.2"/>
    <resource name="ckan-source" src="macs/CoNWeT_ckan-source_0.4.5.wgt" vendor="CoNWeT" version="0.4.5"/>
    <resource name="ckan-wirecloud-view-flotr2" src="macs/flotr2.wgt" vendor="CoNWeT" version="1.0.4"/>
    <resource name="ckan-wirecloud-view-google" src="macs/google.wgt" vendor="CoNWeT" version="1.0.4"/>
    <resource name="ckan-wirecloud-view-highcharts" src="macs/highcharts.wgt" vendor="CoNWeT" version="1.0.4"/>
  </embedded>
  <wiring>
    <outputendpoint name="data_selected" type="text" label="Data Selected" description="Data Selection. See the documentation for more information" friendcode="googlecharts-graph-data-out"/>
    <outputendpoint name="resource" type="text" label="Resource" description="The resource (a JSON including the structure and the data)" friendcode="dataset"/>
    <outputendpoint name="flotr2-graph-config" type="text" label="Flotr2 Configuration" description="The configuration of your flotr2 graph" friendcode="flotr2-graph-data"/>
    <outputendpoint name="googlecharts-graph-config" type="text" label="Google Charts Configuration" description="The configuration of your Google Charts graph" friendcode="google-charts-data"/>
    <outputendpoint name="highcharts-graph-config" type="text" label="HighCharts Configuration" description="The configuration of your HighCharts graph" friendcode="highcharts-charts-data"/>
    <outputendpoint name="selected" type="text" label="Selected data output" description="Send the data when it's clicked" friendcode="selected-data"/>
    <outputendpoint name="selectedFilters" type="text" label="Selected data filters output" description="Filters to apply in order to retriver the source data" friendcode="condition-list"/>
    <inputendpoint name="input" type="text" label="Data in" description="Data Input. See the documentation for more information" friendcode="googlecharts-graph-data-in"/>
    <inputendpoint name="dataset" type="text" label="Data and Structure" description="A JSON with two fields: structure (for the structure of the data) and data (the data ifself)" actionlabel="Data and Structure" friendcode="dataset"/>
    <inputendpoint name="selected-row" type="text" label="Row selection" description="This event is sent every time a row is selected" friendcode="data-table-row"/>
    <inputendpoint name="dataset" type="text" label="Data and Structure" description="A JSON with two fields: structure (for the structure of the data) and data (the data ifself)" actionlabel="Data and Structure" friendcode="dataset"/>
    <inputendpoint name="highcharts" type="text" label="Highcharts Options" description="Highcharts Options" friendcode="highchart-options"/>
    <inputendpoint name="highstock" type="text" label="Highstock Options" description="Highstock Options" friendcode="highstock-options"/>
  </wiring>
</mashup>
